In [1]:
import os
import sys
sys.path.append(os.path.join(os.getcwd(), '..'))

In [2]:
from trader_factory import build_active_IBridgePy_plus

In [3]:
t = build_active_IBridgePy_plus('DU1868499')  # Create an IBridgePy_plus instance

In [4]:
from IBridgePy.IbridgepyTools import symbol

In [5]:
# Get historical data of SPY, daily bar, go back 5 days
hist = t.request_historical_data(symbol('SPY'), '1 day', '5 D')

In [6]:
hist

              open    high     low   close  volume
2020-12-17  371.94  372.46  371.05  372.24  287860
2020-12-18  370.97  371.15  367.02  369.18  542187
2020-12-21  364.97  373.00  362.03  367.86  628768
2020-12-22  368.21  368.34  366.03  367.24  317473
2020-12-23  368.26  369.62  367.39  367.57  282032

In [7]:
type(hist.index[-1])  # The type should be datetime.date

datetime.date

In [8]:
from tools.hist_converter import convert_hist_using_datetime_to_epoch

In [9]:
converted = convert_hist_using_datetime_to_epoch(hist)

In [10]:
type(converted.index[-1])  # The type should be numpy.int64

numpy.int64

In [11]:
converted

                 index    open    high     low   close  volume
epoch
1608163200  2020-12-17  371.94  372.46  371.05  372.24  287860
1608249600  2020-12-18  370.97  371.15  367.02  369.18  542187
1608508800  2020-12-21  364.97  373.00  362.03  367.86  628768
1608595200  2020-12-22  368.21  368.34  366.03  367.24  317473
1608681600  2020-12-23  368.26  369.62  367.39  367.57  282032

In [12]:
converted.to_csv(os.path.join(os.getcwd(), '..', 'Output', 'myHist.csv'))